[project]
name = "openwebui-env"
version = "0.1.0"
requires-python = ">=3.12,<3.13"
dependencies = [
    "open-webui==0.6.41",
]

[project.optional-dependencies]
cpu = [
  "torch==2.9.0"
]
cuda = [
  "torch==2.9.0"
]

[tool.uv]
conflicts = [
  [
    { extra = "cpu" },
    { extra = "cuda" },
  ],
]

[tool.uv.sources]
torch = [
  { index = "pytorch-cpu", extra = "cpu" },
  { index = "pytorch-cu129", extra = "cuda" },
]

[[tool.uv.index]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
explicit = true

[[tool.uv.index]]
name = "pytorch-cu129"
url = "https://download.pytorch.org/whl/cu129"
explicit = true
