[project]
name = "docling-env"
version = "0.1.0"
requires-python = ">=3.12,<3.13"
dependencies = [
# https://github.com/docling-project/docling-serve/blob/v1.3.1/pyproject.toml
    "vllm==0.14.0", # Pin the version of vLLM to avoid downloading it twice
    "docling==2.69.0", # Pin the version of Docling to ensure reproducibility
    "docling-serve[ui]==1.10.0",
]

[project.optional-dependencies]
cpu = [
  "torch==2.9.1"
]
cuda = [
  "torch==2.9.1"
]

[tool.uv]
conflicts = [
  [
    { extra = "cpu" },
    { extra = "cuda" },
  ],
]

[tool.uv.sources]
torch = [
  { index = "pytorch-cpu", extra = "cpu" },
  { index = "pytorch-cu129", extra = "cuda" },
]

[[tool.uv.index]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
explicit = true

[[tool.uv.index]]
name = "pytorch-cu129"
url = "https://download.pytorch.org/whl/cu129"
explicit = true
